---
import ProfileImage from "./ProfileImage.astro";
import type { ProfileInterface } from "./profiles";

const { name, description, profileImage, email } = {
  ...Astro.props,
} as ProfileInterface;
---

<div
  class="mx-auto grid w-full grid-rows-[auto_1fr] items-start justify-center gap-2 rounded-lg border-2 bg-white px-4 py-8 sm:max-w-none sm:flex-col"
>
  <ProfileImage imageSrc={profileImage} altText={name} />
  <div class="grow">
    <p class="text-center text-2xl font-bold">{name}</p>
    <p class="text-center text-sm text-gray-400">{email}</p>
    <p class="max-w-[225px] text-center text-gray-500">{description}</p>
  </div>
</div>
