---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "@astrojs/image/components";
import { news } from "./general/news.astro";
import lowerCasify from "../utils/lowerCasify";

export type ContentProps = {
  left: string;
  right: string | Array<string>;
  highlight?: boolean;
};
const paperContents: Array<ContentProps> = [
  {
    left: "Submission Deadline",
    right: "Jun 28, 2023, 11:59 PM AoE (Extended firm)",
    highlight: true,
  },
  { left: "Author Notification", right: "Aug 15, 2023" },
];

const workshopContents: Array<ContentProps> = [
  { left: "Proposals Deadline", right: "May 1, 2023" },
  { left: "Acceptance Notification", right: "May 15, 2023" },
];

const registrationContents: Array<ContentProps> = [
  { left: "Early Bird / Author Registration", right: "Sep 7, 2023" },
  { left: "Regular Registration", right: "Oct 7, 2023" },
];

const avssContent: Array<ContentProps> = [
  { left: "Conference Dates", right: ["Nov 7", "Nov 9, 2023"] },
  { left: "Workshop / Tutorial / Challenge Date", right: "Nov 6, 2023" },
];
---

<Layout
  title="Welcome :: AVSS2023"
  meta="AVSS 2023 is the 19th edition of the IEEE International Conference on Advanced Video and Signal-Based Surveillance. AVSS is the premier international conference in the field of video and signal-based surveillance."
>
  <div
    class="mx-auto grid max-w-6xl grid-cols-1 gap-6 sm:grid-cols-[1fr_1fr] md:grid-cols-[2fr_1fr] lg:grid-cols-[2fr_1fr]"
  >
    <div class="grid grid-cols-1 gap-x-6 gap-y-6 md:grid-cols-2">
      <Card title="Paper" contents={paperContents} />
      <Card
        title="Workshop / Tutorial / Challenge"
        contents={workshopContents}
      />
      <Card title="Registration" contents={registrationContents} />
      <Card title="AVSS 2023" contents={avssContent} />
    </div>
    <div
      class="link-card order-first flex flex-col overflow-hidden rounded-lg bg-white shadow-lg transition-shadow duration-500 ease-out hover:shadow-2xl sm:order-last"
    >
      <header
        class="group flex items-center bg-primary px-5 py-3 text-xl font-semibold text-neutral-100"
      >
        <div
          class="flex origin-left flex-row gap-2 transition-transform duration-150 ease-out group-focus-within:scale-110 group-hover:scale-110 group-focus:scale-110 group-active:scale-110"
        >
          <h2>News</h2>
        </div>
      </header>
      <div class="flex flex-col gap-1 overflow-scroll">
        <div
          class="w-full grow divide-y-2 divide-neutral-300 bg-white px-3 py-3 text-sm"
        >
          {
            news.map(({ title, date, content }) => {
              return (
                <a href={"/general/news/#" + lowerCasify(title)}>
                  <div class="group flex flex-col gap-1 px-2 py-2 transition-colors hover:bg-neutral-100">
                    <div class="text-xl font-bold text-neutral-600 group-hover:underline">
                      {title}
                    </div>
                    <div class="font-semibold text-neutral-400">{date}</div>
                    <div class="truncate text-sm text-neutral-500">
                      {content}
                    </div>
                  </div>
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto mt-12 grid max-w-5xl grid-cols-1 gap-x-6 gap-y-12 md:grid-cols-2"
  >
    <article
      id="article"
      class="z-10 mx-auto grid w-full max-w-2xl gap-4 px-4 pb-8 font-light md:px-2"
    >
      <p>
        <b class="text-2xl font-semibold">AVSS 2023</b> is the 19th edition of the
        <b
          >IEEE International Conference on Advanced Video and Signal-Based
          Surveillance</b
        >. AVSS is the premier international conference in the field of video
        and signal-based surveillance. The goal is to provide a game-changing
        and cross-disciplinary forum that brings together experts from academia,
        industry, and government to advance the frontiers of theories, methods,
        systems, and applications.
      </p>
      <p>
        AVSS is sponsored by the <a
          class="fancy"
          target="_blank"
          href="https://signalprocessingsociety.org/"
          >IEEE Signal Processing Society</a
        >
        (IVMSP TC). There will be a <a
          class="fancy"
          target="_blank"
          href="https://www.cs.albany.edu/AVSS2019/program.html"
          >main conference</a
        >
        as well as multiple associated <a
          class="fancy"
          target="_blank"
          href="https://www.cs.albany.edu/AVSS2019/workshops.html">workshops</a
        >.
      </p>
    </article>
    <figure
      class="neutralscale relative mx-auto min-h-[200px] w-full max-w-[450px] md:max-w-[500px]"
    >
      <Image
        src="/83.png"
        alt="illustration of 83 tower"
        class="absolute right-8 -bottom-36 -z-30 md:scale-100"
        aspectRatio={69 / 440}
        height={440}
        width={69}
        format="webp"
      />
      <Image
        src="/city.png"
        alt="illustration of city"
        class="absolute bottom-[-7.5rem] -left-2 -z-10 md:left-4"
        aspectRatio={53 / 28}
        height={196}
        width={371}
        format="webp"
      />
    </figure>
  </div>
</Layout>
